<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cattsoft.mos"
    android:versionCode="3"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".dataprocess.MosApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/title" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 登录 -->

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/title"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="com.cattsoft.mos.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MosGuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.FuncNodeListActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DefecAdd1tActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DefecAdd2tActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DefecAdd3tActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DefecAddPreViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PreviewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ThumbnailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DeviceAdd1tActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DeviceAdd2tActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DeviceAdd3tActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DeviceAdd4tActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".dialog.PopDialog"
            android:screenOrientation="portrait"
            android:theme="@style/pop_dialog" >
        </activity>
        <activity
            android:name=".activity.MyOrdersActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PjhActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DayReportActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name=".dialog.FilterDialog"
            android:screenOrientation="portrait"
            android:theme="@style/pop_dialog" >
        </activity>
        <activity
            android:name=".activity.ExampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/pop_dialog" >
        </activity>
        
        
        <activity
            android:name=".activity.DeviceParmActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DevicePreviewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ChooseServerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 二维码扫描 -->
        <activity
            android:name=".activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomeMainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.cattsoft.mos.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name=".activity.ZiXunDetailActivity"
            android:parentActivityName=".activity.ZiXunListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ZiXunListActivity" />
        </activity>
        <activity
            android:name=".activity.ZiXunListActivity"
            android:parentActivityName=".activity.HomeMainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeMainActivity" />
        </activity>
        <activity
            android:name=".activity.MCamera"
            android:screenOrientation="landscape" >
        </activity>
       
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
             <intent-filter>
                <action android:name="com.cattsoft.mos.Main" />
				<category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
        <activity
            android:name=".activity.ProcDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.OrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name=".activity.ZdgzMainActivity"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name=".activity.Hybywfzrb"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.Qsywfzrb"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name=".activity.G2ywrb"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.G3ywrb"
            android:screenOrientation="portrait" >
        </activity>
          
        <activity
            android:name=".activity.Kdywrb"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name=".activity.G2G3rhrb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Khjllzrb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Wdywfzrb"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.Srhbtb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Srhbtb4yw"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Wgsrhbtb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Qxsrhbtb"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name=".activity.MonthReportActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.G3ywyb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Zdywrb4khq"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WgZdywrb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Qdwgzdywrb"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GcjsMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Gcjgxxtj"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Gcjsfilter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.Gcztxxtj"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ZsjfHelp"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ModifyPwd"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ReportDesc"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.Xywgzdywrb"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".activity.Qdkhjlrb"
            android:screenOrientation="portrait" >
        </activity>
         
        
        
        <activity
            android:name=".activity.EventActivity"
             android:parentActivityName=".activity.HomeMainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.HomeMainActivity" />
        </activity>
        
        <activity
            android:name=".activity.EventDetailActivity"
            android:parentActivityName=".activity.EventActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.EventActivity" />
        </activity>
        

       
    </application>

</manifest>